<section class="banner">
  <div class="container">
    <h1>Organon Consulting LLC</h1>
    <p>
      <h3>I am a Starman</h3>
    </p>
  </div>
</section>

<div class="spacer"></div>

<section class="about-me">
  <div class="container">
    <h2>Full Stack Developer</h3>
<!-- this slide should intro me as a Dev -->
<!--
    <h3>Skills</h3>
    <ul>
      <li><p>Ruby on Rails</p></li>
      <li><p>JavaScript</p></li>
      <li><p>HTML5</p></li>
      <li><p>CSS3</p></li>
      <li><p>Sass</p></li>
      <li><p>jQuery</p></li>
      <li><p>WordPress</p></li>
    </ul> -->
    <div class="row">
      <div class="about-box col-lg-6">
        <p>
          My name is Dan Hudson, I am a full stack developer based in the Minneapolis area.  I have spent the past year improving and training my development skills.  I am seeking full or part time work using these skills I have honed.
        </p>
      </div>
    </div>
    
    <%= render @skills %>
    
    <div class="row">
      <div class ="about-box">
        <div class="skills ">
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("HTML5_logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("CSS3_logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("Ruby_logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("Sass_Logo_Color.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
        </div>
        <div class="skills">
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("Ruby_on_Rails-logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("jQuery-logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("javascript_logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
          <feature class="panel panel-default col-lg-4 col-sm-6">
            <div class="panel-body thumbnail">
              <%= image_tag("GitHub_Logo.png", :class => "thumbnail img img-rounded") %>
            </div>
          </feature>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spacer"></div>

<section class="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="row">
      <%= render @projects %>
    </div>
  </div>
<!-- this slide should showcase projects -->
</section>

<div class="spacer"></div>

<!--Contact me Slide -->
<section class="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="form">
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Name"/>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="email" class="form-control" placeholder="Email Address"/>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">How are you feeling today?</span>
        <input type="text" class="form-control" list="feelings"/>
        <datalist id="feelings">
          <option value="Happy">
          <option value="Curious">
          <option value="Anxious">
          <option value="Stressed">
          <option value="Hopeful">
          <option value="Big League">
          <option value="Nervous">
          <option value="Angry">
          <option value="Annoyed">
          <option value="Irritated">
          <option value="Joyful">
          <option value="Tired">
          <option value="Hungry">
          <option value="Bashful">          
          <option value="I am the Pope">
        </datalist>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">Message</span>
        <input type="text-area" class="form-control"/>
      </div>
    </div>
  </div>
</section>