<section id="banner">
  <div class="container">
    <h1>Dan Hudson: Rails Dev</h1>
    <p>
      <h3>I am a Starman</h3>
    </p>
  </div>
</section>

<div class="spacer"></div>

<section id="skills">
  <div class="container">
    <h2>Full Stack Developer</h3>
    <div class="row">
      <div class="about-box col-lg-6"> 
        <p>
          My name is Dan Hudson, I am a full stack developer based in the Minneapolis area.  I have spent the past year improving and training my development skills.  I am seeking full or part time work using these skills I have honed.
        </p>
      </div>
    </div>
    <%= render @skills %>
  </div>
</section>

<div class="spacer"></div>

<section id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="row">
      <%= render @projects %>
    </div>
  </div>
</section>

<div class="spacer"></div>

<!--Contact me Slide -->
<section id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <%= form_tag do %>
      <div class="row">
        <div class="input-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name", required: true %> 
        </div>
        
        <div class="input-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, nil, class: "form-control", placeholder: "Email Address", required: true %>
        </div>
        
        <div class="input-group">
          <%= label_tag :feelings, "How are you Feeling?" %>
          <%= select_tag :feelings, options_for_select(@feelingOptions), class: "form-control", list: "feelings", required: true %>
        </div>
        
        <div class="input-group">
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: "form-control", placeholder: "Type your message", required: true %>
        </div>
      </div>
      <%= submit_tag("Send", class: 'submit-button') %>
    <% end %><!--end of the form -->
    <div class="thanks-div">
      <p>Thank you for the note!</p>
    </div>
  </div>
</section>
